body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Ubuntu',sans-serif;
}
.scrolling-box {
  overflow-y:  scroll;
}
html{
  scroll-behavior: smooth;
}
/*navbar styling*/
.max-width {
  max-width: 1700px;
  padding: 0 100px;
  margin: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;
  padding: 30px 0 ;
  font-family: 'Ubuntu',sans-serif;
}
.navbar.sticky{
  padding: 15px 0 ;
  background: #FA8072;
}
.btn{
  background-color: Transparent;
  border: none;
  cursor:pointer;
}
.navbar .max-width{
  display: flex;
  align-items:center ;
  justify-content: space-between;
}
.navbar .logo a{
  font-size: 40px;
  font-weight: 1000;
  color: black;
  text-decoration: none;
}
.navbar  .logo a span{
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
  color: white;
}
.navbar .menu li a{
  color: black;
  font-size: 25px;
  font-weight: 550;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a:hover{
  color: crimson;
}
.navbar.sticky .menu li a:hover{
  color: #fff;
}
/*menu btn styling*/
.menu-btn{
  color: black;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
/* home section start */
.home {
  display: flex;
  background-image:url("images/BG.jpg");
  background-repeat:no-repeat;
  background-position: center;
  height: 100vh;
  color: black;
  min-height: 500px;
  font-family: 'Ubuntu',sans-serif;
}
.home .max-width {
  margin: 15% 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home-content-2 .fab{
  margin-top: 5px;
  margin-right: 10px;
  font-size: 3rem;
  color: black;
}
.home-content-2 .fab:hover{
  color: #BB371A;
  transition: all 0.3s ease;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0
}
.home .home-content .text-3 span{
  color: #BB371A;
}
/*about me section*/
.about .about-container{
  display: flex;
  margin: 2% 3%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.about .about-container .about-img{
  width: 500px;
  padding: 5% 5%;
}
.about .about-container .about-text-container{
  text-align: center;
  padding: 5% 2%;
}
.about .about-container .about-text-head{
  margin-bottom: 3%;
  font-size: 50px;
  font-weight: 600;
}
.about .about-container .about-text-sup{
  color: gray;
  text-align: left;
  font-size: 30px;
  font-weight: 200;
}
.about-text-my01 {
  color: black;
  text-align: left;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}
.about-text-my01 span{
  color: red;
}
/*Skill section*/
.skil-contain{
  border-color: black;
  border: 1px;
}
.skill-container{
  display: inline-flex;
  height:100%;
  justify-content: center;
  margin: 2% 3%;

}
.skill-bar{
  width: 600px;
  background: #fff;
  border-radius: 10px;
  padding: 5px 2%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.skill-bar .bar{
  margin: 20px 0;
}
.skill-bar .bar:first-child{
  margin-top: 0px;
}
.skill-bar .head-skill-bar {
  font-size: 25px;
  font-weight: 800;
  color: #808080;
  padding-top: 3%;
  padding-bottom: 2%;
  text-align: left;
}
.skill-bar .bar-container .bar .info span{

  font-size: 25px;
  font-weight: 300;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }}
.skill-bar .bar .processline {
  position: relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgba(0 , 0, 0, 0.05),
                    0px 1px rgba(255 , 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.skill-bar .bar-container .bar .info .icon-bar{
  margin-bottom: 5px;
  font-size: 40px;
  margin-right: 1%;
}
.bar .processline span{
  height: 100%;
  width:80%;
  background: #FA8072;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .processline span::before{
  position: absolute;
  content: "";
  right: 0;
  top:-10px;
  width:0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color:#000;
}
.bar .processline span::after{
  position: absolute;
  right: 0;
  top:-28px;
  color:#fff;
  background: #000;
  font-size: 15px;
  font-weight: 500;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.processline.mongoDB span::after{
  content: "55%";
}
.processline.mongoDB span{
  width:  55%;
  background: #4BA13E;
}
.fas.mongoDB{
  color: #248641;
}
.processline.ReactJs span::after{
  content: "40%";
}
.processline.ReactJs span{
  width:  40%;
  background: #60DAFF;
}
.fab.ReactJs{
  color: #192F3D;
}
.processline.php span::after{
  content: "65%";
}
.processline.php span{
  width:  65%;
  background: #BFC1EE;
}
.fab.php{
  color: #4B568B;
}
.fas.code{
  color:#808080;
}
.fab.html{
  color: #cf361c;
}
.fab.css{
  color: #0e589f;
}
.fab.Js{
  color: #cb9036;
}
.processline.html span::after{
  content: "80%";
}
.processline.html span{
  width:  80%;
  background: #de4b1f;
}
.processline.css span::after{
  content: "70%";
}
.processline.css span{
  width:  70%;
  background: #278fc9;
}
.processline.Js span::after{
  content: "55%";
}
.processline.Js span{
  width:  55%;
  background: #dfa91c;
}

/*responsive media query start*/
@media (max-width:999px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn i.active:before{
      content: "\f00d";
  }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -120%;
    top: 0;
    margin-top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .menu-btn{
    display: block;
    z-index: 999;
  }

}
@media (max-width:690px) {
  .menu-btn i.active:before{
      content: "\f00d";
  }
  .max-width{
      padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
}
@media (max-width:500px) {

  .menu-btn i.active:before{
      content: "\f00d";
  }
  .max-width{
      padding: 0 15px;
  }
  .home .home-content .text-1 {
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 30px;
  }
  .html-tag01{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .html-tag02{
    font-size: 12px;
    margin-bottom: 10px;
  }
}
/*footer section*/
footer{
  margin-top: 3%;
  background-color:#FA8072;
  font-size: 35px;
  text-align: center;
  color: #fff;
}
